body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: url(../../../public/Front+Nav-Images/Div2Backg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Chrome, Edge and Safari */
body::-webkit-scrollbar {
    height: 8px;
    width: 12px;
}

body::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #efe9e9;
    border: 3px ridge #01000061;
}

body::-webkit-scrollbar-track:hover {
    background-color: #636869;
}

body::-webkit-scrollbar-track:active {
    background-color: #636869;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1B3811;
    border: 5px ridge #FFFFFF;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #DFDFDF;
    border: 5px ridge #FFFFFF;

}

body::-webkit-scrollbar-thumb:active {
    background-color: #DFDFDF;
}
.Host-Inn-Section-4-Detailsof3{
overflow: hidden;
}
.Hostels-Displays-Data-Right a{
    text-decoration: none;
}
.Nav-Bar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.395);
}
.logo{
    height: 100%;
    width: 100px;
    padding: 30px;
    margin-left: 100px;

}
.Nav-Bar .logo img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.Main-Hostels-Lists-2 {
    display: flex;
    width: 100%;
}
.Nav-Bar p{
    font-size: 15px;
    font-weight: 800;
    padding-top: 10px;
    margin-left: -20px;
}
.Nav-Bar p a{
    text-decoration: none;
    color: black;
    height: auto;
    width: auto;
}
.Hostels-List-Filters {
    height: auto;
    width: 22%;
    padding: 15px;
    padding-left: 25px;
    overflow: hidden;
}
.Nav-Bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.Nav-Bar small{
    color: rgb(206, 206, 206);
    text-align: end;
    margin-left: 80px;
    font-weight: 900;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    transform: rotate(180deg);

}
.Hostels-List-Right {
    height: auto;
    width: 78%;
    padding: 20px;
    border-left: 1px solid rgba(56, 54, 54, 0.349);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.Hostels-List-Filters label {
    display: block;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
}

.Hostels-List-Filters input {
    padding: 5px;
    width: 100%;
    /* padding-left: 30px;
    padding-right: 20px; */
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.779);
    border: none;
    outline: none;
}

.Hostels-List-Filters text {
    position: absolute;
    padding: 4px;
    padding-left: 8px;
    font-size: 18px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.578);
    z-index: 10;
}

.Hostels4u-Data input{
    width: 40%;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Hostels4u-Data <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.Hostels4u-Data {
    height: auto;
    width: 100%;
    padding: 10px;
}

.Hostels4u-Data h5 {
    padding-top: 40px;

}

.Hostels4u-Data h5 a {
    font-size: 17px;
    text-decoration: none;
    color: rgba(13, 13, 13, 0.4);
    font-weight: 700;
}

.Hostels4u-Data article p {
    font-size: 16px;
    font-weight: 700;
    padding-top: 40px;
}

.Hostels4u-Data h6 {
    font-size: 13px;
    padding-top: 20px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Data <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Pagination <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.demo {
    background-color: #7598a24d;
    padding-top: 15px;
    display: none;

}

.pagination-outer {
    text-align: center;
}

.pagination {
    background: linear-gradient(to right, transparent, #fff, #fff, transparent);
    font-family: 'Rubik', sans-serif;
    padding: 0 30px;
    display: inline-flex;
    position: relative;
}

.pagination li a.page-link {
    color: #d63031;
    background-color: transparent;
    font-size: 22px;
    line-height: 40px;
    height: 50px;
    width: 40px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease 0s;
}

.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover {
    color: #fff;
    background-color: rgba(19, 48, 56, 0.237);
    text-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pagination li a.page-link:before,
.pagination li a.page-link:after {
    content: '';
    background-color: #d63031;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 100%;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    transition: all 0.3s ease 0s;
}

.pagination li a.page-link:after {
    background-color: #ed4040;
    left: 100%;
    top: -100%;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:after,
.pagination li.active a.page-link:after {
    left: 0;
    top: 0;
}

.Screen-Filters{
    width: 100%;
    background-color: #2884847b;
    text-align: center;
    display: none;
}
.Screen-Filters p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.Screen-Filters p a{
    text-decoration: none;
    color: orange;
}

@media only screen and (max-width: 1024px) {
    .Hostels4u-Data{
        padding: 0px;
    }
    .Hostels-Displays-Data {
        padding: 10px;
    }
    .Hostels-Displays-Data-Left {
        width: 75%;
    }
}


@media screen and (max-width:700px) {
    .Hostels-Displays{
        display: block;
    }
    .Hostels-Displays .Img{
        width: 100%;
        height: 170px;
    }
    .Hostels-Displays .Img img {
        width: 70%;
    }
    .Hostels-Displays-Data-Left ul {
        column-gap: 23px;
    }
    .Hostels-Displays-Data-Right .Down-price {
        margin-top: 0%;
    }
    .Hostels-Displays-Data-Left input {
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Hostels-List-Right {
        padding: 5px;
    }
    .Hostels-Displays-Data-Left dl, ol, ul {
        margin-top: 0;
        margin-bottom: 0rem;
    }
    .Hostels-Displays-Data-Left span{
        margin-top: 5px;
    }
    .Hostels4u-Data input {
        width: 95%;
        margin-top: 10px;
    }
    .Hostels-List-Filters {
        padding: 7px;
        padding-left: 15px;
    }
}

@media screen and (max-width:600px) {
    .Nav-Bar{
        padding-left: 0px;
    }
    .logo{
        margin-left: 20px;
    }
    .Nav-Bar small{
        margin-left: 30px;
    }

.Hostels-List-Filters {
    height: auto;
    width: 22%;
    position: absolute;
    z-index: 100;
    background-color: rgba(155, 219, 230, 0.854);
    backdrop-filter: blur(2px);
    display: none;
}
.Screen-Filters{
    display: block;
}
.Hostels-List-Right {
    width: 100%;
}
.Nav-Bar small {
    font-size: 22px;
}


}

@media only screen and (max-width: 480px) {
    .pagination {
        display: block;
    }

    .pagination li {
        margin-bottom: 10px;
        display: inline-block;
    }
}
@media only screen and (max-width: 400px) {
    .Hostels-Displays .Img {
        height: 120px;
    }
    .Hostels-Displays .Img img {
        width: 60%;
    }
    .Hostels-Displays-Data-Left h5 {
            font-size: 15px;
    }
    .Hostels-Displays-Data-Left input {
        padding: 2px;   
        font-size: 10px;
        margin-left: 10px;
    }
    .Hostels-Displays-Data-Right input {
        padding: 4px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 11px;
    }
}