

body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-image: url(../../../public/Front+Nav-Images/Div2Backg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;    
  }
  
/* Chrome, Edge and Safari */
body::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #efe9e9;
  border: 3px ridge #01000061;
}

body::-webkit-scrollbar-track:hover {
  background-color: #636869;
}

body::-webkit-scrollbar-track:active {
  background-color: #636869;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #1B3811;
  border: 5px ridge #FFFFFF;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #DFDFDF;
  border: 5px ridge #FFFFFF;

}

body::-webkit-scrollbar-thumb:active {
  background-color: #DFDFDF;
}
.Host-Inn-Section-4-Detailsof3{
overflow: hidden;
}
.ClickToTop{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #104d4e83;
  position: fixed;
  right: 5px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  overflow: hidden;
  cursor: pointer;
}
.ClickToTop {
  text-decoration: none;
  color: white;
  height: 100%;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0099CC;
  cursor: pointer;
}

  .Logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  
  .Nav{
    height: auto;
    width: 100%;
    opacity: 1;
    position: fixed;
    z-index: 200;
    top: 5px;
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
animation: 1.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;

/* filter: grayscale(1); */
    
  }


  #menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #0099cc92,  #174c5b);
	color: #FFF;
	height: 80px;
	padding-left: 18px;
	border-radius: 20px;
  backdrop-filter: blur(2px);
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
#menu ul, #menu li {
	/* margin: 0 auto; */
	padding: 0;
	list-style: none
}
#menu ul {
	width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#menu li {
	/* float: right; */
	display: inline;
	position: relative;
}
#menu ul a {
	display: block;
	line-height: 50px;
	padding: 5px 13px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
  
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
  border-radius: 10px;

}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 80px;
	text-align: center;
	position: absolute;
	left: 35px;
  background-color: red;
  
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #44444473;
	position: absolute;
	z-index: 99;
	display: none;
  border-radius: 20px;

}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
/* @media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
} */
/* 
.Signin-Up{
  width: 23%;
  color: red;
  display: flex;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
  // margin-right: -50px;
}
.Signin-Up button{
  color: white;
  backdrop-filter: blur(50px);
  background-color: transparent;
  height: 50%;
  border-radius: 50px;
  font-weight: 100;
  font-size: 10px;
  border: 2px solid rgba(65, 141, 200, 0.874);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.443);
}
.Signin-Up button:hover{
  box-shadow: 2px 3px 5px rgb(19, 24, 26);
  border-radius: 50px;
	color: #3288a3;
  background-color: rgba(255, 255, 255, 0.92);
}
.Signin-Up button:hover:before{
  display: none;
}
 */




  .Wel{
    height: 100vh;
    width: 100%;
    background-image: url(../../../public/Front+Nav-Images/Div2Backg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(253, 253, 253);
    
    
    
    
  }
  
  .Wtext{
    /* margin-left: 90px; */
    animation: ani 2s ease-in 1 forwards ;
    margin-top: 35px;
    
    
  }
 
  /* .Wel button{
    height: 70px;
    width: 200px;
    margin-top: 30px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    transition: 1s;
  }
  .Wel button:hover{
    background-color: rgb(17, 84, 91);
  } */
   button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: rgb(96, 170, 216);
}

button:hover {
  background: rgb(141, 161, 220);
  box-shadow: 0 0 10px 5px rgba(0, 142, 236, 0.384);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Filters <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

  .Filters{
    height: auto;
    margin-top: 80px;
    width: 70%;
    background-color: rgba(18, 149, 185, 0.374);
    border-radius: 20px;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    backdrop-filter: blur(5px);
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .Filters input{
    width: 25%;
    height: 50px;
    border: 2px double black;
    background-color: transparent;
    font-size: 13px;
    font-weight: 700;
    border-radius: 40px;
    padding-left: 20px;
  }
  .Filters input:focus{
    border: 2px solid rgb(239, 239, 239);
    outline: none;
  }
  .Filters input::placeholder{
    opacity: 0;
  }
  .Filters input:focus::placeholder{
    opacity: 1;
    color: rgb(221, 221, 221);
  }
  .Filters p{
    height: 50px;
    width: 50px;
    background-color: #ededed;
    border-radius: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #104d4e;
    cursor: pointer;
  }
  .Filters p a{
    color: #104d4e;
    text-decoration: none;
  }
  .Labels{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 90px;
    padding-right: 50px;


  }
  .Labels label{
    width: 30%;    
    color: rgb(254, 254, 254);
    font-size: 12px;
    font-weight: 100;
  }



  /* <!-- <----------------------Aims  CSS Starts--------------------------------->  */




.Aim-Div1{
  text-align: center;
  margin-top: 90px;
  padding-bottom: 20px;
  
}
.Aim-Div1 h1{
  font-size: 30px;
  font-weight: 100;
    animation: 5.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 41, 43, 0.68);
    position: relative;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    text-shadow: 2px 1px 2px rgba(59, 44, 44, 0.338);

}
.Aim-Div1 h1::before{
  position: absolute;
  content: 'Coverage';
  color: rgba(0, 0, 0, 0.404);
  font-weight: 900;
  font-size: 70px;
  top: -47px;
  z-index: -1;
  background: linear-gradient(90deg,rgba(68, 56, 56, 0.589),rgba(255, 253, 249, 0.648),rgba(68, 56, 56, 0.566));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;

}
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

.Aims-Main{
  height: auto;
  padding: 30px;
  width: 100%;
}
.Aims-Portion1{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.Portion1-Data{
  width: 68%;
  transition: all 1s;

}
.Aims-Portion1::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background-color: #104d4e2f;
  transition: all .3s;
  visibility: hidden;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.Aims-Portion1:hover:before{
  height: 100%;
  visibility: visible;

}

.Portion1-Data h3{
  font-size: 20px;
}
.Portion1-Data ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  font-size: 14px;
}
.Portion1-img{
  width: 30%;
}
.Portion1-img img{
  width: 100%;
}
.Aims-Portion1:hover img{
 transform: scale(1.1);
 transition: all 1s;

}





.Aims-Portion2{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  margin-left: 20%;
  align-items: center;

}
.Aims-Portion2::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background-color: #104d4e2f;
  transition: all .3s;
  visibility: hidden;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -10px;
  
}
.Aims-Portion2:hover:before{
  height: 100%;
  visibility: visible;

}


.Portion2-Data{
  width: 68%;
}
.Portion2-Data h3{
  font-size: 20px;
}
.Portion2-Data ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  column-gap: 40px;
}
.Portion2-img{
  width: 30%;
}
.Portion2-img img{
  width: 100%;
}
.Aims-Portion2:hover img{
 transform: scale(1.1);
 transition: all 1s;

}




.Aims-Portion3{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  margin-left: 50%;
  align-items: center;

}
.Aims-Portion3::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background-color: #104d4e2f;
  transition: all .3s;
  visibility: hidden;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.Aims-Portion3:hover:before{
  height: 100%;
  visibility: visible;

}
.Portion3-Data{
  width: 68%;
}
.Portion3-Data h3{
  font-size: 20px;
}
.Portion3-Data ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  font-size: 14px;
}
.Portion3-img{
  width: 30%;
}
.Portion3-img img{
  width: 100%;
}
.Aims-Portion3:hover img{
 transform: scale(1.1);
 transition: all 1s;

}





  /* <!-- <----------------------Aims  CSS Ends--------------------------------->  */






  .div3{
    height: auto;
    width: 100%;
    background-attachment: fixed;

  }
  .div3 h2{
    text-align: center;
    font-size: 30px;
  font-weight: 100;
    color: rgba(0, 41, 43, 0.68);
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    animation: 5.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
    text-shadow: 2px 1px 2px rgba(1, 40, 69, 0.532);

  }  
  .div3 #ran::before{
    position: absolute;
    content: 'Preferance';
    color: rgba(0, 0, 0, 0.404);
    font-weight: 900;
    font-size: 70px;
    top: -50px;
    z-index: -1;
      background: linear-gradient(90deg,rgba(68, 56, 56, 0.589),rgba(255, 253, 249, 0.648),rgba(68, 56, 56, 0.566));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    text-shadow: none;

  }


  /* .box1{
    height: auto;
    width: auto;
    background: url(../../../public/Front+Nav-Images/PXH5.jpeg);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%),
    -2px -2px 10px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 70px;
    transition: all .4s ease-in-out;
    padding: 40px;
    position: relative;


  }
  .box1::after{
    position: absolute;
    content: '';
    height: 80%;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    rotate: 45deg;
    background-color: transparent;
    z-index: -5;
  }
  .box1:hover:after{
    border: none;
  }
  
  .boxs a{
    text-decoration: none;
    color: black;
  }
   */
  .boxs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 50px;
    /* overflow: hidden; */
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
/*   
  .box1 h2{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #f1f1f1;
    padding: 0;
  }
  .sp{
    letter-spacing: 5px;
    color: rgb(27, 97, 111);  
    font-weight: 900;
    width: 50px;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    background-color: #1a252815;
    

  }
  .box1:hover .sp{
    color: rgb(237, 237, 237);
    transition: .3s;
    font-weight: 900;
    font-size: 30px;
    backdrop-filter: blur(1px);
    background-color: #1a25289e;
  }
  .box1:hover .SideCome small{
    color: rgb(237, 237, 237);
    transition: .3s;
    font-weight: 900;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    background-color: #1a25285d;
  }
  .box1:hover{
    color: white;
    border-radius: 29px;
    background: url(../../../public/Front+Nav-Images/Glob.gif);
    background-size: 100% 100%;
box-shadow:  5px 5px 10px rgba(44, 48, 49, 0.482),
             -5px -5px 10px #252e2e82;
             transform: scale(1.1);
             transition: all .4s ease-in-out;
    // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); 



  }
  .box1:hover .tra h2{
    transition: .5s linear all;
    transform: translateX(-400px);
  }
  .box1:hover .tra .SideCome{
    transition: .5s linear all;
    transform: translateX(-250px);
  } */
  
  .div4{
    height: 120px;
    background-color: rgb(242,242,242);
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  .tra{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .tra h2{
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    background-color: #1a252815;

  }
  .SideCome{
    width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -500px;
    gap: 20px;
    
  }
  .box1:hover .tra .SideCome button{
    font-size: 7px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    
  }
  .tra .SideCome button{
    background-color: transparent;
    border: 1px solid black;
    width: 120px;
  }
  .tra .SideCome button:hover{
    box-shadow: 1px 2px 10px white;
  }
  .d4a{
    height: 100%;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d4a a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 1s;
  }
  .d4a a:hover{
    
    transform: scale(1.4);
    
  }





  /* <!-- <----------------------Flickty  CSS Starts--------------------------------->  */




/* 
.carousel {
  background: transparent;
}

.carousel-cell {
  width: 80%;
  height: 100vh;
  margin-right: 10px;
  counter-increment: gallery-cell;

}
.carousel-cell img{
  height: 100vh;
  width: 100%;
  border-radius: 20px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}
.carousel-cell h1{
  color: red;
  position: absolute;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
 
}

.Flickty{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}
.B1st{
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
 */
 




  /* <!-- <----------------------Flickty CSS Ends--------------------------------->  */







  /* <!-- <----------------------Welcome Word  CSS Starts--------------------------------->  */





@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

svg {
	font-family: "Lexend Deca", sans-serif;
	width: 100%; 
  height: 100%;
}
svg text {
	animation: stroke 10s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 80px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {
  background-color: transparent;
width: 100vw;

}
  



  /* <!-- <----------------------Welcome Word  CSS Ends--------------------------------->  */




/* <----------------------------- Hostels Details Css ------------------------> */







.Hett{
  height: 200px;
  width: 100%;
  background-color: red;
}
.HostD-Div1{
  margin-top: 70px;
  text-align: center;
}
.HostD-Div1 h1{
  font-size: 30px;
  font-weight: 200;
  color: rgba(0, 41, 43, 0.68);
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
    animation: 5.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
    text-shadow: 2px 1px 2px rgba(59, 44, 44, 0.338);

}
.HostD-Div1 h1::before{
  position: absolute;
  content: 'Desitinations';
  color: rgba(0, 0, 0, 0.404);
  font-weight: 900;
  font-size: 70px;
  top: -50px;
  z-index: -1;
  background: linear-gradient(90deg,rgba(68, 56, 56, 0.589),rgba(255, 253, 249, 0.648),rgba(68, 56, 56, 0.566));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;


}
.HostD-Div2{
  height: 60vh;
  margin-top: 10px;
  width: 100%;
  background: url(../../../public/Front+Nav-Images/Mount-Home.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  overflow: hidden;
  
}
.Find{
    position: absolute;
    z-index: 10;
    height: 100%;
  /* margin-top: 10px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Find h2, .Find h1{
    font-size: 60px;
  font-weight: 900;
  background: linear-gradient(90deg,rgba(68, 56, 56, 0.589),rgba(255, 253, 249, 0.648),rgba(68, 56, 56, 0.566));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 20px;
    filter: drop-shadow(2px 12px 2px rgba(0, 0, 0, 0.58));
    animation: 5.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }
/* 
.FirstHost-Left{
  width: 40%;
  height: auto;
  background-color: #7ec0d6;
  display: flex;
cursor: pointer;
border-radius: 20px;
overflow: hidden;
}
.FirstHost-Left a{
  text-decoration: none;
  color: white;
}
/* .FirstHost-Left:hover{
    box-shadow: 2px 2px 15px black;
    transform: scale(1.03);
    transition: all .5s;
    
} */
/*.FirstHost-Left .Data{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
padding-top: 10px;
padding-bottom: 50px;

}
.FirstHost-Left:hover .Data{
  background-color: white;
}
.FirstHost-Left:hover img{
    transform: scale(1.1);
    transition: all 1s;
}

.FirstHost-Left img{
  width: 50%;
}
.FirstHost-Left .Data .Details1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
font-weight: 100;
font-size: 14px;
line-height: 25px;
color: rgba(58, 7, 7, 0.559);
}
.FirstHost-Left:hover .Data .Details1{
color: #0099CC;
}

.HostD-Div3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  overflow-x: hidden;
} */

.Dbut{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.Move-Rotate{
  position: absolute;
  width: 100vw;
}
.move{
    position: absolute;
    /* animation: picm 30s linear infinite alternate; */

}
.move:nth-child(1){
    animation: picm 5s linear infinite;
    left: 65%;
    top: 180px;
}
.move:nth-child(2){
    animation: picm2 5s linear infinite reverse;
    left: 5%;
    top: 68px;
}
.move:nth-child(3){
  left: 65%;
  top: 180px;
    
    animation: picm3 5s linear infinite reverse;
}
.move:nth-child(4){
    left: 5%;
    top: 68px;
    animation: picm4 5s linear infinite ;
}
.move img{
    width: 100px;
    height: 100px;
    position: absolute;
}
@keyframes picm {
    0%{
        

    }
    25%{
        left: 85%;
        margin-top: 0px;
    }
    50%{
      left: 85%;
      margin-top: 200px; 
    }
    75%{
        margin-top: 200px;
        left: 65%;
    }
    
    100%{
      left: 65%;
      margin-top: 0px;

    } 
    
}
@keyframes picm2 {
    0%{
        

    }
    25%{
      left: 25%;
      margin-top: 0px;
    }
    50%{
      left: 25%;
      margin-top: 200px; 
    }
    75%{
        margin-top: 200px;
        left: 5%;
      }
    
    100%{
      left: 5%;
      margin-top: 0px;

    } 
    
}
@keyframes picm3 {
    0%{
        

    }
    25%{
      left: 85%;
      margin-top: 0px;
    }
    50%{
      left: 85%;
      margin-top: 200px; 
    }
    75%{
        margin-top: 200px;
        left: 65%;
      }
    
    100%{
      left: 65%;
      margin-top: 0px;

    } 
    
}
@keyframes picm4 {
    0%{
        

    }
    25%{
      left: 25%;
      margin-top: 0px;
    }
    50%{
      left: 25%;
      margin-top: 200px; 
    }
    75%{
        margin-top: 200px;
        left: 5%;
      }
    
    100%{
      left: 5%;
      margin-top: 0px;

    } 
    
}





                            /* FLOWERRR CSSS */
.Flower-Html{
  background-image:var(--color-bg);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    overflow: hidden;
    position: absolute;
    /* padding-left: 75px; */
    margin-top: -82px;
}
.flower{
    position: relative;
}

.flower__glass{
    width:20vmin;
    height: 30vmin;
    background-image: linear-gradient(to left,#142544,#1a9092);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    opacity: .8;
    position: relative;
}

.flower__glass::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #182843;
    width: 100%;
    height: 2vmin;
}

.flower__glass::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: var(--color-water);
    width: 100%;
    height: 15vmin;
}

.f-wrapper{
    position: absolute;
    left: 45%;
    bottom: 2vmin;
}

.f-wrapper--2{
    left: 50%;
    bottom: 5%;
    transform-origin: 10% left;
    transform: rotate(20deg);
}

.f-wrapper--3{
    left: 30%;
    bottom: 5%;
    transform-origin: 10% left;
    transform: rotate(-10deg);
}

.f-wrapper--3 .flower__line{
    height: 45vmin;
    position: relative;
}

.f-wrapper--3 .flower__line::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 6vmin;
    height: 6vmin;
    transform: translate(-69%,-30%) rotate(-5deg);
    border-radius:10vmin 10vmin 0 0;
    border: 2vmin solid  #104d4e;
    border-bottom: transparent;
    border-left: transparent;
}

.f-wrapper--3 .flower__line::before{
    content: '';
    position: absolute;
    left:-40%;
    top: -1%;
    width: 6vmin;
    height: 2vmin;
    transform-origin: right;
    transform: translate(-100%,-80%) rotate(-20deg);
    background-color: #104d4e;
    border-radius: 2vmin;
}

.f-wrapper--3 .flower__line{
    background-image: linear-gradient(to top,#142544,#104d4e);
}


.f-wrapper--2 .flower__line{
    height: 45vmin;
}

.f-wrapper--2 .f{
    transform: translateX(-50%) rotate(20deg);
}

.f-wrapper--3 .f{
    transform: translate(-350%,-50%) rotate(-120deg);
}

.f-wrapper--2 .flower__leaf:not(:first-child){
    width: 3.8vmin;
    height: 10vmin;
    background-image: linear-gradient(to bottom, #ff43b6 ,#c22887, #1a233a 99%);
}

.f-wrapper--3 .flower__leaf:not(:first-child){
    width: 3.8vmin;
    height: 10vmin;
    background-image: linear-gradient(to bottom, #ad2be0 ,#712291, #1a233a 99%);
}

.f-wrapper--3 .flower__leaf--1{
    width: 8vmin;
    height: 10vmin;
    bottom: 2vmin;
    background-color: #ad2be0;
}

.f-wrapper--2 .flower__leaf--1{
    width: 8vmin;
    height: 10vmin;
    bottom: 2vmin;
    background-color: #de118b;
}

.f-wrapper--2 .f .flower__leaf--8{
    width: 10vmin;
    height: 9vmin;
    bottom: 3vmin;
    left: -30%;
    transform: rotate(-50deg);
    background-image: linear-gradient(to left bottom, #ff43b6 ,#4d1337);;
}

.f-wrapper--3 .f .flower__leaf--8{
    width: 10vmin;
    height: 9vmin;
    left: -10% !important;
    background-image: linear-gradient(to left bottom, #ad2be0 ,#712291);;
}

.flower__line{
    width: 2vmin;
    height: 56vmin;
    background-image: linear-gradient(to left top,#82fdff 20%,#142544,#104d4e);
    border-radius: 4vmin;
}

.f{
    position: absolute;
    top: 1vmin;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    width: 2vmin;
    height: 2vmin;
}


.flower__leaf{
    position: absolute;
    left: 50%;
    bottom: 2vmin;
    transform: translateX(-50%);
    width: 5vmin;
    height: 14vmin;
    background-image: linear-gradient(to bottom, #ffa085 ,#fa7373, #1a233a 99%);

    clip-path: ellipse(50% 50% at 50% 50%);
    transform-origin: center bottom;
    animation: open-flower 2s 1s backwards;
}

.flower__leaf--1{
    width: 10vmin;
    height: 12vmin;
    bottom: 3vmin;
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    background-color: #e24f5f;
    background-image: none;
    animation: open-flowe--middle  1.4s 1s backwards;
}

.flower__leaf--2{
    transform: translateX(-50%) rotate(-30deg);
}
.flower__leaf--3{
    transform: translateX(-50%) rotate(-50deg);
}
.flower__leaf--4{
    transform: translateX(-50%) rotate(-70deg);
}

.flower__leaf--5{
    transform: translateX(-50%) rotate(30deg);
}

.flower__leaf--6{
    transform: translateX(-50%) rotate(50deg);
}

.flower__leaf--7{
    transform: translateX(-50%) rotate(70deg);
}

.flower__leaf--8{
    width: 13vmin;
    height: 11vmin;
    bottom: 6vmin;
    left: -30%;
    border-radius: none;
    clip-path: none;
    border-radius: 10vmin 2vmin 10vmin 2vmin;
    transform: rotate(-55deg);
    background-image: linear-gradient(to left bottom, #ffa085 ,#eb8b8b,#492f2f 98%);
}

.flower__fall-down--yellow{
    animation: flower-fall-down-yellow  8s 1.2s linear forwards;
}

.flower__fall-down--pink{
    animation: flower-fall-down-pink  5s 1.2s linear forwards;
}

.flower__fall-down--purple{
    bottom: 4vmin;
    animation:flower-fall-down-purple  6s 1.2s linear forwards, flower-falling 6s 7.2s linear infinite;
}


@keyframes open-flower{
        0%{
            transform:  translateX(-50%) rotate(0);
        }
}

@keyframes open-flowe--middle {
    0%{
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
}

@keyframes flower-fall-down-pink {

    0%{
        transform: rotate(-55deg);
    }

    50%{
        transform: rotateX(-100deg);
    }

    100%{
        transform:translate(2vmin,28vmin);
    }

}

@keyframes flower-fall-down-yellow {

    0%{
        transform: rotate(-55deg);
    }

    50%{
        bottom: 3vmin;
        transform: rotateX(-100deg);
    }

    100%{
        transform:translate(2vmin,70vmin) rotate(150deg);
    }

}

@keyframes flower-fall-down-purple {

    0%{
        transform: rotate(-50deg);
    }

    25%{
        bottom: 1vmin ;
        transform: rotateX(-100deg);
        perspective: 0px;
    }

    50%{
        perspective: 0px;
        transform:translate(-30vmin,2vmin) rotate(90deg);
    }

    75%{
        perspective: 0px;
        transform:translate(-34vmin,-2vmin);
    }

    100%{
        transform-origin: center;
        transform:translate(-34vmin,-2vmin) rotateY(-80deg) rotateX(35deg);
    }

}

@keyframes flower-falling {
    0%,100%{
        transform-origin: center;
        transform:translate(-34vmin,-2vmin) rotateY(-80deg) rotateX(35deg);
    }

    25%{
        transform-origin: center;
        transform:translate(-34.4vmin,-2vmin) rotateY(-84deg) rotateX(35deg);
    }

    50%{
        transform-origin: center;
        transform:translate(-32vmin,-4.2vmin) rotateY(-80deg) rotateX(35deg);
    }

    75%{
        transform-origin: center;
        transform:translate(-36vmin,1.1vmin) rotateY(-80deg) rotateX(35deg);
    }
}





/* <----------------------------- Hostels Details Css Ends------------------------> */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERIES <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


@media screen and (max-width:1024px) {
  
.Find h2, .Find h1  {
font-size: 40px;
}
.Wtext {
  margin-top: 70px;
}
.Aims-Portion1{
  width: 55%;
}
.Aims-Portion2{
  width: 55%;
}
.Aims-Portion3{
  width: 55%;
  margin-left: 45%;
}



}


@media screen and (max-width:768px) {

.FirstHost-Left{
  flex-wrap: wrap-reverse;
}
.FirstHost-Left .Data{
  width: 100%;
  gap: 5px;
  padding-bottom: 10px;
}
.FirstHost-Left img{
  width: 100%;
  height: 200px;
}
.Aims-Portion1{
  width: 65%;
}
.Aims-Portion2{
  width: 65%;
  margin-left: 15%;
}
.Aims-Portion3{
  width: 65%;
  margin-left: 35%;
}
}


@media screen and (max-width:700px) {
  .move img{
    width: 50px;
    height: 50px;
  }
.Filters{
  width: 80%;
}
.Aims-Portion1{
  width: 85%;
}
.Aims-Portion2{
  width: 85%;
  margin-left: 5%;
}
.Aims-Portion3{
  width: 85%;
  margin-left: 10%;
}
}
@media screen and (max-width:680px) {
  .Find h2, .Find h1 {
    font-size: 25px;
  }
}

@media screen and (max-width:500px) {
.Filters input{
  height: 30px;
}
.Filters{
  padding-top: 18px;
  padding-bottom: 34px;
}
.Filters p {
  height: 30px;
  width: 30px;
  font-size: 17px;
}

.Find h2, .Find h1 {
  font-size: 25px;
}
button {
  padding: 5px 11px;
  font-size: 9px;
  font-weight: 300;
}
.FirstHost-Left img{
  width: 100%;
  height: 150px;
}

.Aims-Portion1{
  width: 100%;
}
.Aims-Portion2{
  width: 100%;
  margin-left: 0%;
}
.Aims-Portion3{
  width: 100%;
  margin-left: 0%;
}
.HostD-Div3{
  flex-wrap: wrap;
  gap: 15px;
}
.FirstHost-Left{
  width: 75%;
}
}


@media screen and (max-width:400px) {
  .move img{
    width: 40px;
    height: 40px;
  }
  svg text {
    font-size: 49px;
}
.Labels label {
  width: 32%;
  color: rgb(254, 254, 254);
  font-size: 8px;
  font-weight: 400;
}
.div3 h2 {
  font-size: 20px;
}
.div3 #ran::before {
  font-size: 50px;
  top: -35px;
}
.Find h2, .Find h1 {
  font-size: 20px;
}

.box1 {
  border-radius: 0px;
  padding: 16px;
}
.HostD-Div1{
  margin-top: 50px;
}
.HostD-Div3{
  flex-wrap: wrap;
  gap: 15px;
}
.FirstHost-Left{
  width: 75%;
}
.HostD-Div1 h1{
  font-size: 20px;
}
.HostD-Div1 h1::before {
  font-size: 50px;
  top: -35px;
}

.Aim-Div1 h1{
  font-size: 20px;
}
.Aim-Div1 h1::before {
  font-size: 50px;
  top: -35px;
}
}

@media screen and (max-width:335px) {
  .Find h2, .Find h1 {
    font-size: 18px;
  }
}



