
.box1{
    height: auto;
    width: auto;
    background: url(../../../public/Front+Nav-Images/PXH5.jpeg);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%),
    -2px -2px 10px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 70px;
    transition: all .4s ease-in-out;
    padding: 40px;
    position: relative;


  }
  .box1::after{
    position: absolute;
    content: '';
    height: 80%;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    rotate: 45deg;
    background-color: transparent;
    z-index: -5;
  }
  .box1:hover:after{
    border: none;
  }
  
  .boxs a{
    text-decoration: none;
    color: black;
  }
  
  .box1 h2{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #f1f1f1;
    padding: 0;
  }
  .sp{
    letter-spacing: 5px;
    color: rgb(27, 97, 111);  
    font-weight: 900;
    width: 50px;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    background-color: #1a252815;
    

  }
  .box1:hover .sp{
    color: rgb(237, 237, 237);
    transition: .3s;
    font-weight: 900;
    font-size: 30px;
    backdrop-filter: blur(1px);
    background-color: #1a25289e;
  }
  .box1:hover .SideCome small{
    color: rgb(237, 237, 237);
    transition: .3s;
    font-weight: 900;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    background-color: #1a25285d;
  }
  .box1:hover{
    color: white;
    border-radius: 29px;
    background: url(../../../public/Front+Nav-Images/Glob.gif);
    background-size: 100% 100%;
box-shadow:  5px 5px 10px rgba(44, 48, 49, 0.482),
             -5px -5px 10px #252e2e82;
             transform: scale(1.1);
             transition: all .4s ease-in-out;
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */



  }
  .box1:hover .tra h2{
    transition: .5s linear all;
    transform: translateX(-400px);
  }
  .box1:hover .tra .SideCome{
    transition: .5s linear all;
    transform: translateX(-250px);
  }