
.FirstHost-Left{
    width: 40%;
    height: auto;
    background-color: #7ec0d6;
    display: flex;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  }
  .FirstHost-Left a{
    text-decoration: none;
    color: white;
  }
  /* .FirstHost-Left:hover{
      box-shadow: 2px 2px 15px black;
      transform: scale(1.03);
      transition: all .5s;
      
  } */
  .FirstHost-Left .Data{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
  
  }
  .FirstHost-Left:hover .Data{
    background-color: white;
  }
  .FirstHost-Left:hover img{
      transform: scale(1.1);
      transition: all 1s;
  }
  
  .FirstHost-Left img{
    width: 50%;
  }
  .FirstHost-Left .Data .Details1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  font-weight: 100;
  font-size: 14px;
  line-height: 25px;
  color: rgba(58, 7, 7, 0.559);
  }
  .FirstHost-Left:hover .Data .Details1{
  color: #0099CC;
  }
  
  .HostD-Div3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    overflow-x: hidden;
  }