body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: url(../../../public/Front+Nav-Images/Div2Backg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* 
.Logo{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    
}
.Logo a{
    height: 60%;
    width: 60px;
}
.Logo a img{
    border-radius: 50px;
    height: 100%;
    width: 100%;
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Top-Images <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.Hostel-Inner-Portion {
    width: 100%;
    height: auto;
    padding: 20px;
    /* overflow: hidden; */
}

.Host-Inn-Top-Images {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 50px;
    overflow: hidden;
    filter: drop-shadow(4px 13px 6px rgba(79, 73, 73, 0.516));
    box-shadow: inset -3px 2px 15px #92929254,
        inset 2px -3px 15px #ffffff54;
}

.Host-Inn-Top-Images-Left {
    width: 48%;
    height: auto;
    padding: 10px;
}

.Host-Inn-Top-Images-Left img {
    height: 50vh;
    width: 100%;
    border-radius: 30px;
}


.Host-Inn-Top-Images-Right {
    width: 48%; 
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.Host-Inn-Top-Images-Right img {
    height: 23vh;
    width: 40%;
    border-radius: 20px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Host-Inn-Section-2 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.Host-Inn-Section-2-Left small{
    display: block;
}
.Host-Inn-Section-2-Left small:hover{
    animation: text-focus-in .3s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards 1;
}
@keyframes text-focus-in {
0% {
-webkit-filter: blur(12px);
        filter: blur(12px);
opacity: 0;
}
100% {
-webkit-filter: blur(0px);
        filter: blur(0px);
opacity: 1;
}
}   
.Host-Inn-Section-2-Left small:nth-child(2){
    padding-left: 50px;
}
.Host-Inn-Section-2-Left small:nth-child(3){
    padding-left: 100px;

}
.Host-Inn-Section-2-Left small:nth-child(4){
    padding-left: 150px;

}
.Host-Inn-Section-2-Left small:nth-child(5){
    padding-left: 200px;
}


.Host-Inn-Section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow: hidden;
}

.Host-Inn-Section-2-Right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.Host-Inn-Section-2-Right h5 {
    font-size: 14px;
}

.Host-Inn-Section-2-Right p text {
    display: block;
    font-size: 12px;
    font-weight: 600;
}
.Host-Inn-Section-2-Right p text:nth-child(1) {
    margin-left: -20px;
}
.Host-Inn-Section-2-Right p text:nth-child(2) {
    margin-left: -50px;
}

.hr {
    width: 100%;
    display: flex;
    justify-content: center;

}

.hr hr {
    width: 50%;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Host-Inn-Section-3 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.Host-Inn-Section-3 {
    display: flex;
    justify-content: space-evenly;
    /* gap: 60px; */
    padding-left: 20px;
    position: sticky;
    top: 10px;
    z-index: 100;
    overflow: hidden;
}

.Host-Inn-Section-3 small a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.53);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
}

.Host-Inn-Section-3 small a::after {
    position: absolute;
    display: flex;
    justify-content: center;
    content: '';
    bottom: 0;
    background-color: rgba(19, 22, 25, 0.265);
    height: 2px;
    width: 0%;
    transform-origin: center;
}

.Host-Inn-Section-3 small a:hover:after {
    width: 100%;
    transition: all .5s;
    transform-origin: center;
}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Host-Inn-Section-4 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


.Section-4-Property-Overview {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.Section-4-Property-Overview-Left {
    width: 70%;
}

.Section-4-Property-Overview-Right {
    width: 300px;
    height: auto;
    border-radius: 20px;
    background-color: rgba(5, 83, 83, 0.192);
}

.Section-4-Property-Overview .spans {
    columns: 2;
    width: 50%;
    padding-left: 10px;
}

.Section-4-Property-Overview .spans span {
    display: block;
}

.Section-4-Property-Overview .spans span::before {
    position: relative;
    content: "☼";
    font-size: 20px;
    color: green;
    padding-right: 15px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Overview-Rooms <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.Section-4-Overview-Rooms {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Display-S4OR {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 65vh;
    gap: 25px;
    overflow-y: scroll;
}

.Display-S4OR {
    scrollbar-width: thin;
    scrollbar-color: #1B3811 #BEBEBE;
}

/* Chrome, Edge and Safari */
.Display-S4OR::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.Display-S4OR::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #efe9e9;
    border: 3px double #010000;
}

.Display-S4OR::-webkit-scrollbar-track:hover {
    background-color: #636869;
}

.Display-S4OR::-webkit-scrollbar-track:active {
    background-color: #636869;
}

.Display-S4OR::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1B3811;
    border: 1px ridge #FFFFFF;
}

.Display-S4OR::-webkit-scrollbar-thumb:hover {
    background-color: #DFDFDF;
}

.Display-S4OR::-webkit-scrollbar-thumb:active {
    background-color: #DFDFDF;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Reviews <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.Section-4-Overview-Reviews {
    display: flex;
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: #788c9d2d;
}

.S4OREV-Inputs-Range {
    height: auto;
    width: 30%;
    /* padding: 20px; */
    padding-top: 10px;
}

input[type=range] {
    height: 31px;
    appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 7px #000000;
    background: #3071A9;
    border-radius: 32px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    /* box-shadow: 6px 6px 6px #000000; */
    border: 1px solid #000000;
    height: 12px;
    width: 59px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 7px #000000;
    background: #3071A9;
    border-radius: 32px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 6px 6px 6px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 49px;
    border-radius: 23px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 0px solid #000000;
    border-radius: 64px;
    box-shadow: 2px 2px 7px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 0px solid #000000;
    border-radius: 64px;
    box-shadow: 2px 2px 7px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 6px 6px 6px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 49px;
    border-radius: 23px;
    /* background: #FFFFFF; */
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
}

.S4OREV-Inputs-Range label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    height: 23px;
}

.Section-4-Overview-Reviews-Right {
    display: flex;
    width: 68%;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;
    height: 38vh;
    gap: 10px;
    border-radius: 20px;
}

.Section-4-Overview-Review {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #1b38111c;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
}



.Section-4-Overview-Reviews-Right {
    scrollbar-width: thin;
    scrollbar-color: #1B3811 #BEBEBE;
}

/* Chrome, Edge and Safari */
.Section-4-Overview-Reviews-Right::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.Section-4-Overview-Reviews-Right::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #efe9e9;
    border: 3px double #010000;
}

.Section-4-Overview-Reviews-Right::-webkit-scrollbar-track:hover {
    background-color: #636869;
}

.Section-4-Overview-Reviews-Right::-webkit-scrollbar-track:active {
    background-color: #636869;
}

.Section-4-Overview-Reviews-Right::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1B3811;
    border: 1px ridge #FFFFFF;
}

.Section-4-Overview-Reviews-Right::-webkit-scrollbar-thumb:hover {
    background-color: #DFDFDF;
}

.Section-4-Overview-Reviews-Right::-webkit-scrollbar-thumb:active {
    background-color: #DFDFDF;
}

.Section-4-Overview-Review small h6 {
    font-size: 14px;
    font-weight: 400;
}

.Section-4-Overview-Review text p {
    font-size: 12px;
}

.Section-4-Overview-Review text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Section-4-Overview-Review text data {
    font-size: 13px;
    font-weight: 600;
    background-color: green;
    padding: 5px;
    border-radius: 50px;
    color: whitesmoke;
}

.Section-4-Overview-Review small p {
    font-size: 11px;
}

.Section-4-Overview-Review small blockquote p {
    font-size: 12px;
    font-weight: 300;
}

.Section-4-Overview-Review small blockquote span {
    font-size: 10px;
    padding-left: 10px;
    color: green;
}

.Section-4-Overview-Review small blockquote span::before {
    position: relative;
    content: '+';
    padding-right: 10px;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Overview-Policies <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.Section-4-Overview-Policies {
    padding: 20px;
}


.Section-4-Overview-Policies ol li ol li {
    list-style: none;
    /* display: block; */
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    color: teal;
    margin-top: 10px;
}

.Section-4-Overview-Policies ol li ol li:nth-child(1) {
    text-decoration: underline;
}

.Section-4-Overview-Policies ol li ol li:nth-child(2) {
    box-shadow: inset 3px 0px 1px rgb(70, 92, 92), 3px 0px 1px rgb(145, 252, 252);

}



.Section-4-Overview-Policies ul {
    list-style: circle;
}
.first-ol{
    /* display: flex; */
    justify-content: space-evenly;
    list-style: circle;
    width: 100%;
}
.first-ol li ol{
    width: 100%;
    display: flex;
    gap: 20px;
}
.first-ol li ol{
    width: 70%;
    display: flex;
}
.Section-4-Overview-Policies ul li ol {
    display: flex;
    flex-direction: column;

}

.Section-4-Overview-Policies ul li ol li {
    list-style: none;
    width: 20%;
    border-radius: 10px;
    padding: 3px;
    color: teal;
    margin-top: 10px;
}
.Section-4-Overview-Policies ul li ol li:nth-child(2) {
    margin-left: 50px;
}

.Section-4-Overview-Policies ul li ol li:nth-child(1) {
    /* box-shadow: inset -3px 0px 2px rgb(70, 92, 92), -3px 0px 2px rgb(145, 252, 252);
    display: flex;
    justify-content: center; */
    text-decoration: underline;
}

.Section-4-Overview-Policies ul li ol li:nth-child(2) {
    box-shadow: inset 3px 0px 1px rgb(70, 92, 92), 3px 0px 1px rgb(145, 252, 252);
    width: 30%;
    display: flex;
    justify-content: center;
}

.HIPHeadings {
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
}
*{
    color: rgba(19, 22, 25, 0.628);
}

/* Chrome, Edge and Safari */
body::-webkit-scrollbar {
    height: 8px;
    width: 12px;
}

body::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #efe9e9;
    border: 3px ridge #01000061;
}

body::-webkit-scrollbar-track:hover {
    background-color: #636869;
}

body::-webkit-scrollbar-track:active {
    background-color: #636869;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1B3811;
    border: 5px ridge #FFFFFF;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #DFDFDF;
    border: 5px ridge #FFFFFF;

}

body::-webkit-scrollbar-thumb:active {
    background-color: #DFDFDF;
}
.Host-Inn-Section-4-Detailsof3{
overflow: hidden;
}

@media screen and (max-width:1024px) {
    .S4OR {
        width: 30%;
    }
}


@media screen and (max-width:768px) {
    .Host-Inn-Top-Images-Right {
        gap: 5px;

    }
    .Host-Inn-Top-Images-Left img {
        height: 46vh;
    }
    .Host-Inn-Top-Images-Right img{
        width: 48%;
    }
    .S4OR {
        width: 30%;
    }
    .Section-4-Property-Overview .spans {
        width: 100%;
    }
    .Section-4-Overview-Policies ol li ol li:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }
    .Section-4-Overview-Policies ol li ol{
        justify-content: space-between;
    }
    .Section-4-Overview-Policies ol li ol li:nth-child(2) {
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Section-4-Overview-Reviews-Right{
        height: 45vh;
    }
    .Section-4-Overview-Policies ul li ol li {
        width: 30%; 
    }
    .Section-4-Overview-Policies ul li ol {
        display: flex;
        justify-content: space-evenly;
    }
    .first-ol li ol {
        width: 96%;

    }
}

@media screen and (max-width:590px) {
    .Logo{
        height: 66px;
    }
    .Logo a img {
        width: 80%;
    }
    .Hostel-Inner-Portion{
        padding-top: 0px;
    }
    .Host-Inn-Top-Images{
        display: block;
    }
    .Host-Inn-Top-Images-Left {
        width: 100%;
        padding: 0px;
    }
    .Host-Inn-Top-Images-Left img {
        height: 30vh;
    }
    .Host-Inn-Top-Images-Right img {
        height: 20vh;
        width: 44%;
    }
    .Host-Inn-Section-2-Left small:nth-child(2) {
        padding-left: 20px;
    }
    .Host-Inn-Section-2-Left small:nth-child(3) {
        padding-left: 50px;
    }   
    .Host-Inn-Section-2-Left small:nth-child(4) {
        padding-left: 80px;
    }  
    .Host-Inn-Section-2-Left small:nth-child(5) {
        padding-left: 110px;
    }     
    .Host-Inn-Top-Images-Right {
        width: 100%;
        gap: 10px;
        padding: 0px;
        padding-top: 10px;
        
    }
   
    .Section-4-Property-Overview{
        display: block;
    }
    .Section-4-Property-Overview-Left {
        width: 100%;
    }
    .Section-4-Property-Overview-Right {
        width: 100%;
        height: 30vh;
        margin-top: 20px;
    }
    .S4OR {
        width: 95%;
        
    }
    .S4OR text{
        display: block;
    padding: 2px;
    padding-left: 10px;
    font-size: 12px;
    }
    .Section-4-Overview-Reviews{
        display: block;
    }
    .S4OREV-Inputs-Range {
        width: 96%;
    }
    .Section-4-Overview-Reviews-Right {
        width: 96%;
        margin-top: 10px;
    }
    .Section-4-Overview-Policies ul li ol li:nth-child(2) {
        width: 60%;
    }
}

@media screen and (max-width:400px) {
    .Host-Inn-Top-Images-Right img {
        height: 15vh;
    }
    .Logo{
        height: 50px;
    }
    .Logo a img {
        width: 60%;
    }
    .Host-Inn-Top-Images-Left img {
        height: 20vh;
    }
    .Host-Inn-Section-2-Left small:nth-child(2) {
        padding-left: 10px;
    }
    .Host-Inn-Section-2-Left small:nth-child(3) {
        padding-left: 20px;
    }
    .Host-Inn-Section-2-Left small:nth-child(4) {
        padding-left: 30px;
    }
    .Host-Inn-Section-2-Left small:nth-child(5) {
        padding-left: 40px;
    }
    .Host-Inn-Section-2-Right p text:nth-child(1) {
        margin-left: -40px;
    }
    .Host-Inn-Section-2-Right p text:nth-child(2) {
        margin-left: -45px;
    }
    .S4OR img {
        height: 100px;
    }
    .input a {
        padding: 1px;
    }
    .first-ol li ol {
        width: 96%;
        gap: 5px;
    }
    ol, ul {
        padding-left: 0rem;
    }
}