.S4OR {
    height: auto;
    width: 23%;
    background-color: rgba(97, 121, 121, 0.217);
    border-radius: 20px;
    padding: 10px;
}

.S4OR img {
    width: 100%;
    height: 120px;
    border-radius: 20px;
}

.S4OR h6 {
    font-size: 13px;
    padding-top: 10px;
    font-weight: 600;
}

.S4OR text {
    display: block;
    padding: 4px;
    padding-left: 10px;
    font-size: 13px;
}

.S4OR text::before {
    position: relative;
    content: '✃ ';
    padding-right: 5px;
}

.S4OR span {
    font-size: 11px;
    border: 1px solid black;
    padding: 2px;
}
.input {
    width: 100%;
    display: flex;
    padding: 10px;
    padding-bottom: 2px;
    justify-content: center;
}

.input a {
    background-color: rgba(0, 0, 255, 0.434);
    color: white;
    width: 100%;
    border: 1px solid black;
    font-size: 13px;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.input a input {
    background-color: transparent;
    border: none;
    outline: none;
}
.input a:hover {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 255, 0.53);
    color: rgba(0, 0, 255, 0.53);
}